!!!
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body!= body

  script(src='http://code.jquery.com/jquery-latest.js')
  script(src='/javascripts/soundmanager/script/soundmanager2.js')
  script(src='/javascripts/init.js')