!!!
html
  head
    title
    meta(name='viewport', content='width=device-wdth, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/javascripts/bible.js')
  body!= body
